/* File CSS của bạn */
.contentH1 {
    font-family: 'Roboto', sans-serif;
}
.custom-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  align-items: center;
}
.icon-text {
  margin-left: 12px;
}
@media screen and (max-width: 600px) {
    .column {
    height: 800px
    }
    /* .column1>img{
      width: 400px;
      margin-right: 110px;
    } */
    .content1{
      margin-right: 60px;
    }
    .content3{
      margin-right: 105px;
    }
  }
  @media screen and (max-width: 700px) {
    .column {
    height: 700px
    }
    /* .column1>img {
      width: 500px;
margin-left: 10px;      
      } */
      .content1{
        margin-right: 8px;
      }
      .content3{
        margin-right: 11px;
      }
  }
  @media screen and (max-width: 639px) {
   
      .content1{
        margin-right: 70px;
      }
      .content3{
        margin-right: 102px;
      }
  }
  @media screen and (max-width: 347px) {
  .content4{
    margin-left: -5px;
  }
  }
  @media screen and (max-width: 400px) {
    .column {
      height: 900px
    }
  } 
  @media screen and (max-width: 200px) {
    .column {
    height: 1100px
    }
  }
  /* @media screen and (max-width: 300px) {
    .column1 {
      width: 200px;
      margin-right: 27px;
    }
  }/*
 