/* File CSS của bạn */
.contentH1 {
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
    .column {
    height: 800px
    }
    /* .column1>img{
      width: 400px;
      margin-right: 110px;
    } */
    .content1{
      margin-right: 60px;
    }
    .content3{
      margin-right: 105px;
    }
  }
  @media screen and (max-width: 700px) {
    .column {
    height: 800px
    }
    /* .column1>img {
      width: 500px;
margin-left: 10px;      
      } */
      .content1{
        margin-right: 8px;
      }
      .content3{
        margin-right: 11px;
      }
  }
  /* @media screen and (max-width: 639px) {
    .column1>img {
      width: 450px;
margin-left: 75px;      
      }
      .content1{
        margin-right: 70px;
      }
      .content3{
        margin-right: 102px;
      }
  } */
  /* @media screen and (max-width: 599px) {
   .column1>img {
    width: 400px;
   }
  } */
  @media screen and (max-width: 200px) {
    .column {
    height: 1100px
    }
  }
  /* @media screen and (max-width: 300px) {
    .column1 {
      width: 200px;
      margin-right: 27px;
    }
  }
  @media screen and (max-width: 400px) {
    .column1 {
      width: 250px
    }
  } */